{{#if showCategoryForm}}
<div id="name">
  <form>
    <label for="category">Category</label>
    {{input value=name id='name' placeholder="Name"}}
    <button {{action 'submit' category}}>Submit</button>
  </form>
</div>
{{else}}
  <button {{action 'addCategory'}}>Add Category</button>
{{/if}}
