{{#if showUpdateForm}}
  <label for="name">Name</label>
  {{input value=name id="name"}}
  <button {{action 'submit' category}}>Submit</button>
{{else}}
  <button {{action 'update'}}>Update</button>
{{/if}}
