{{#if showUpdateForm}}
  <label for="name">Name</label>
  {{input value=name id="name"}}
  <button class="btn btn-default"{{action 'submit' category}}>Submit</button>
{{else}}
  <button class="btn btn-default"{{action 'update'}}>Update</button>
{{/if}}
