{{model.name}}

{{add-listing category=model saveListing='saveListing'}}

<div id="name">
  <ul>
    {{#each model.listing as |listing|}}
      <li>
      <!-- {{#link-to 'listing' category.listing.id}} -->
      {{listing.name}}{{listing.description}}
      <!-- {{/link-to}} -->
      </li>
      {{/each}}
  </ul>
</div>
