<h3>Category</h3>

<h2>Today's date is {{current-date}}</h2>

{{add-category category=model saveCategory='saveCategory'}}

<ul>
  {{#each model as |category|}}
    {{category-tile category=category}}
  {{/each}}
</ul>

{{outlet}}
